extends ./partials/layout.jade

block css
    link(href="https://use.fontawesome.com/releases/v5.0.13/css/all.css", rel="stylesheet", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")
    link(href="./css/index.css", rel="stylesheet")
    
block content
    header
        ul.list
            li.active(data-mode="all") My Tasks
            li(data-mode="progress") In Progress
            li(data-mode="completed") Completed
    .content
        .addTaskBlank
            input.addTask(type="text", placeholder="+ Add Task")
            .addTaskPanel
                .addTaskPanel_bar
                    input(type="checkbox",disabled)
                    input(type="text", placeholder="Type Something Here...", maxlength="30")
                    input.star(type="checkbox", disabled)
                    div.edit
                .addTaskPanel_content
                    .deadline
                        .icon
                        div
                            | Deadline
                            br
                            input(type="date", placeholder="yyyy/mm/dd")
                            input(type="time", placeholder="hh:mm")
                    .file
                        .icon
                        div
                            | File
                            br 
                            input(type="file", id="fileUpload", hidden)
                            label(for="fileUpload", class="fileUploadIcon")
                    .comment
                        .icon
                        div
                            | Comment
                            br
                            textarea(rows="5", placeholder="Type your memo here...")
                    .buttons
                        .btn.cancelBtn
                            | X Cancel
                        .btn.addTaskBtn
                            | + Add Task
        ul.tasks_list
        span.task_left

block script 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="./js/jquery-ui.min.js")
    script(src="./js/all.js")
    
    